@model IEnumerable<HoraExtra.Models.Funcionario>

@{
    ViewData["Title"] = "Beneficios";
}

<h1>Beneficios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <div class=row>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                <div class="dropdown-menu">
                                    @foreach (var func in Model)
                                    {
                                        <a class="dropdown-item">
                                           
                                        </a>
                                    }
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Input text com botão dropdown">
                        </div>

                        <label for="validationDefault05">Horas Extras feitas</label>
                        <input type="number" class="form-control" id="validationDefault05" placeholder="Horas extra feitas" required>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <div>
                                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title">Título do card</h5>
                                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Link do card</a>
                                    <a href="#" class="card-link">Outro link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
